---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const fedeRico = Astro.request;
const pageTitle = "Blog page"
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		
	</head>

	<body>
		<BaseLayout pageTitle={pageTitle}>

        <h1>My Astro Site blog</h1>
        <ul>
            {allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}

        </ul>
		<p>{fedeRico.url}</p>
	</BaseLayout>
	</body>
</html>
